@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  /* font-weight: 500; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* .inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50%;
  font-style: normal;
} */

.site-width{
    max-width: 1140px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 71px;
    margin-bottom: 200px;
}
nav a{
    text-decoration: none;
    color: black;
}
.nav-links{
    max-width: 415px;
    height: 60px;
}
.nav-links ul{
    display: flex;
    gap: 20px;
    /* align-items: center; */
}
.nav-link{
    list-style: none;
}
h1{
    font-size: 65px;
    margin-bottom: 13px;
}
h2{
    font-size: 50px;
    margin-bottom: 20px;
}
p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: gray;
}

.banner{
    display: flex;
    align-items: center;
}
.banner-title-orange, .plants-title-orange, .latest-title-orange{
    color: #E95A08;
}

.plants{
    margin: 100px auto;
}
.plants-text{
    margin-bottom: 49px;
}
/* .plants-card-container{} */
.plants-card-container1, .plants-card-container2{
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 30px;
}
.plants-card-name-price{
    text-align: center;
}
.plants-card-name p{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}
.plants-card-price p{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: #000000;
}
.plants-card-btn-add2cart{
    height: 50px;
    width: 270px;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    background-color: #E95A08;
    border-color: #E95A08;
}

.lover{
    margin: 100px auto;
}
.lover-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lover-img{
    width: 100%;
}
.lover-text{
    margin-bottom: 20px;
}
.lover-text ul{
    margin-bottom: 20px;
}
.lover-text li{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: gray;
}

.latest{
    margin: 100px auto;
}
.latest-title{
    text-align: center;
}
.latest-text{
    width: 888px;
    margin: 0 auto;
}

.deals{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: space-between; */
    grid-template-areas:
    "deal-bloom-ana deal-zabo-container deal-zabo-container"
    ;
    gap: 28px;
    margin: 100px auto;
}
.deal-bloom-ana p{
    font-size: 20px;
    color: white;
}
.deal-bloom-container{
    background-image: url('./assets/deal-bloom.png');
    height: 200px;
    margin-bottom: 10px;
}
.deal-ana-container{
    background-image: url('./assets/deal-ana.png');
    height: 200px;
    margin-top: 10px;
}
.deal-zabo-container{
    background-image: url('./assets/deal-zabo.png');
    height: 420px;
}
.deal-zabo p{
    font-size: 40px;
    color: white;
}
.deal-shop{
    font-size: 16px;
}
.deal-shop a{
    color: white;
}


.join{
    background-image: url('./assets/news-letter-bg.png');
    height: 533px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.join-container{
    text-align: center;
    margin: 196px auto;
}
.join-container h2{
    color: white;
}
.join-newsletter{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 830px;
}
.join-input{
    height: 88%;
    width: 644px;
}
.join-btn{
    height: 100%;
    width: 186px;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    background-color: #E95A08;
    border-color: #E95A08;
}

.footer{
    width: 100%;
}
.footer-container{
    width: 1120px;
    margin: 0 auto;
    display: flex;
}
.footer-link-1 li, .footer-link-2 li{
    list-style: none;
}
.footer-link-1 a, .footer-link-2 a{
    text-decoration: none;
    color: gray;
}
.footer-link-3 ul{
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer-link-3 li{
    list-style: none;
}
.footer-link-3 a{
    text-decoration: none;
}