.site-width{
    max-width: 1140px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 71px;
}
nav a{
    text-decoration: none;
    color: black;
}
.nav-links{
    max-width: 415px;
    height: 60px;
}
.nav-links ul{
    display: flex;
    gap: 20px;
    /* align-items: center; */
}
.nav-link{
    list-style: none;
}
h1{
    font-size: 65px;
}
h2{
    font-size: 50px;
}